language: go
sudo: false
go:
  - stable
before_install:
  - go get golang.org/x/lint/golint
  - go get honnef.co/go/tools/cmd/staticcheck
jobs:
  include:
    - script: make all
    - stage: Run Test Coverage
      script: make cover
      after_success: bash <(curl -s https://codecov.io/bash)
    - stage: Build Release
      script:
        - make release
        - echo "Deploying to GitHub releases ..."
      deploy:
        provider: releases
        file:
          - cross/feedster-darwin-amd64
          - cross/feedster-darwin-amd64.md5
          - cross/feedster-darwin-amd64.sha256
          - cross/feedster-darwin-386
          - cross/feedster-darwin-386.md5
          - cross/feedster-darwin-386.sha256
          - cross/feedster-freebsd-amd64
          - cross/feedster-freebsd-amd64.md5
          - cross/feedster-freebsd-amd64.sha256
          - cross/feedster-freebsd-386
          - cross/feedster-freebsd-386.md5
          - cross/feedster-freebsd-386.sha256
          - cross/feedster-linux-arm
          - cross/feedster-linux-arm.md5
          - cross/feedster-linux-arm.sha256
          - cross/feedster-linux-arm64
          - cross/feedster-linux-arm64.md5
          - cross/feedster-linux-arm64.sha256
          - cross/feedster-linux-amd64
          - cross/feedster-linux-amd64.md5
          - cross/feedster-linux-amd64.sha256
          - cross/feedster-linux-386
          - cross/feedster-linux-386.md5
          - cross/feedster-linux-386.sha256
          - cross/feedster-solaris-amd64
          - cross/feedster-solaris-amd64.md5
          - cross/feedster-solaris-amd64.sha256
          - cross/feedster-windows-amd64.exe
          - cross/feedster-windows-amd64.exe.md5
          - cross/feedster-windows-amd64.exe.sha256
          - cross/feedster-windows-386.exe
          - cross/feedster-windows-386.exe.md5
          - cross/feedster-windows-386.exe.sha256
        skip_cleanup: true
        on:
          tags: true
        github-token: $GITHUB_TOKEN
        #api_key:
          # GITHUB_TOKEN for rasa/scoop-directory:
          # secure: "UPlp9i8MMDYSAl+pN3tbfwoZFW/l0liI7Mk8nz3n7gKExN/9el8v3pW/oNk30YeQ5+pNgXu82Wqu9ecRAGDo7+e2oeiY64RG9oioWf5VN2FV7UGO0PrE+40hY7jbJHrUubKemmO+yIPXroAt7TfvuSYeSZto1ENf7sVgAH7WmPi72H0NSgBtIe6zJuxdTR3Zt8rmL3vJK7jc73GmvRQl4Wo0Z2xjX2Nk28LpH/XAXXNjtjOO7cwAXNaSSWXqu/ANZGYNcitDkYxUuAAld5t2qciI7BAA9bWlC4rvI8x0LeGnYJAIi5/XTE82dyBtf2BlCBMWaAluUXm1nV4garR7uRe36h7STfPDwWN4c1WLdaKdgdDb5pP3vrS1PXK+F12j8efrPZ35PHZq8XlRH24de6or9uXpGaRA5GFm1eHqcOYTrnO1H75FTeCYhcULmobdULl8Z8Fenv2dvW0Yif+rDqOFlU9mXntyvMR+R5hPFPXeqEMSs2nQokwe/rDALl7wisiqeOeGro/J3YqBH3oXL7HMzYgyAAgG4CmVEB0DHmrDsEDs1Ixs18cuHwqIVQa0G9YBKeJ9lSyNyl0zqtOOBHxdNWYeyKCq4jhTmKpVArBMO4tpHVE8LSBwy1Gq4iKGekST9DklFsblB72dgeYsc+7I6IafLcdEllAedsIuvRI="
